
/* --- MENU IN APP --- */
.appMenu {
    transition: .3s ease-in-out;
    width: 0;
    overflow-x: hidden;
    background-color: #202431!important;
    z-index: 99;
}

.appMenuWrapper {
    width: 80px;
    height: 100vh;
    background-color: #202431;
    display: flex;
    padding: 20px;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
}

.appMenuIcon {
    z-index: 98;
    position: fixed;
    top: 20px;
    left: 20px;

}

/* --- BUCKETLIST --- */
.bucketlistWrapper {
    background-color: #40434E;
    width: 26%;
    min-width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 68px 0 20px 0;
}

.bucketlistWrapper > h3 {
    margin: 0 0 25px 20px;
}

.listItem {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2fr 4fr 1fr;
    align-items: center;
    padding: 10px 20px;
}

.listItem > img {
    max-width: 100%;
    height: 85px;
    object-fit: cover;
}

.fa-trash-alt {
    color: #FF6A6A;
    font-size: 30px;
    cursor: pointer;
}

.listItem > div > h4, p {
    text-transform: none;
}

.listItem > div >  a {
    text-transform: none;
    font-family: "Inter-Light-BETA";
}

.bucketlistWrapper > .listItem:nth-child(2n+1){
    background-color: #666971;
}
/* ---- APP STUFF --- */

.appWrapper, .appHero {
    padding: 0 30px 0 28%;
    width: 100%;
}

.appWrapper > h2, #popular > h2:nth-child(1), #activities > h2:nth-child(1), #suggestions > h2:nth-child(1) {
    margin-top: 150px;
}

.appHero {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("img/app-banner.png");
    background-size: cover;
    background-position: bottom center;
}

.appHero > h1 {
    font-size: 4.5em;
}

.dropdownWrapper {
    max-width: 900px;
    margin: 50px auto;
}

.dropdownWrapper > label {
    color: white;
    display: block;
}

.dropdownWrapper > select {
    width: 100%;
    height: 55px;
    font-family: "Inter-Bold";
    color: #202431;
    margin: 0 auto;
    text-indent: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("img/icons/down-blue.png");
    background-repeat: no-repeat;
    background-position: right center;
}

.dropdownWrapper > option {
    text-indent: 20px;
}

/* --- POPULAR --- */
.itemWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
}

.item {
    background: white;
    padding: 30px 20px;
}

.addToListBtn {
    height: 45px;
    color: #202431;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    text-transform: none;
}

.addToListBtn > .fas {
    color: #3C957A;
    font-size: 1.5em;
    margin: 0 15px 0 0;
}

.item > img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.item > h3 {
    color: #202431;
    text-transform: none;
    margin: 30px 0;
}

.item > p {
    margin-bottom: 30px;
    color: #8D8D8D;
}

.item > .greenBtn {
    margin: 0;
    display: inline-block;
}

.activityBtn {
    height: 75px;
    width: 100%;
    background: white;
    color: #202431;
    font-size: 1em;
    padding: 0 0 0 20px;
    text-align: left;
    display: flex;
    align-items: center;
}

.activityBtn:hover {
    background-color: var(--lightgreen);
}

.activityBtn > .fas {
    font-size: 2em;
    margin: 0 15px 0 0;
}

@media all and (max-width: 1305px) {
    .itemWrapper {
        grid-template-columns: 1fr 1fr 1fr;;
    }
}

@media all and (max-width: 1150px) {
    .appWrapper, .appHero {
        padding: 0 30px 0 350px;
    }

    .itemWrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 900px) {
    .bucketlistWrapper {
        width: 100%;
        height: 70px;
        overflow: hidden;
        padding: 25px 0;
        transition: .3s ease-in-out;
    }

    .bucketlistWrapper > h3 {
        text-align: center;
    }
    .bucketlistWrapper > h3 > .fas {
        margin: 0 0 0 15px;
        font-size: 1em;
        cursor: pointer;
    }

    .openBucketlist {
        animation: openBucketlist .5s forwards;
        transition: .3s ease-in-out;
    }

    @keyframes openBucketlist {
        100% {
            height: 100vh;
        }
    }

    .closeBucketlist {
        animation: closeBucketlist 1s forwards;
        transition: .3s ease-in-out;
    }

    @keyframes closeBucketlist {
        100% {
            height: 70px;
        }
    }

    .rotated {
        animation: rotate .5s forwards;
        transition: ease-in-out;
    }

    @keyframes rotate {
        100% {
            transform: rotate(180deg);
        }
    }

    .appHero {
        margin-top: 70px;
    }
    .appHero, .appWrapper {
        padding: 20px;
    }

    .appHero > h1 {
        font-size: 3em;
    }
}

@media all and (max-width: 520px) {
    .itemWrapper {
        grid-template-columns: 1fr;
    }
}

@media all and (max-width: 450px) {
    .appHero > h1 {
        font-size: 2em;
    }
}

